
/* Stili per la pagina artista2 */

/* eredita le proprietà dello stile predefinito*/
@import url("stile.css");

.container {
    display: flex; /* Utilizza Flexbox */
 
    flex-direction: row; /* Posiziona gli elementi in una riga  (impostazione predefinita): da sinistra a destra */
    flex-wrap: wrap; /* specifica che  gli elementi flessibili devono andare a capo*/
    justify-content: center; /* Centra gli elementi orizzontalmente nel contenitore */
    align-items: flex-start; /* Allinea gli elementi all'inizio del contenitore verticalmente */
  
 
  }
  
  .container img {
    max-width: 25%; 
    max-height: 25%; 
  }
  