main {
    width: 100%;
    height: 100vh;
    
  }
  
  .box1 {
    width: 200px;
    height: 100px;
    background-color: #333;
    transition: transform 0.5s ease;
  }
  
  .box1:hover {
    transform: translateX(50px);
  }
  



  /*  div blu con animazione */
.box-blu {
    width: 200px;
    height: 100px;
    background-color: blue;
    animation: cambioColore 3s infinite;
  }
  
  /* Keyframes per l'animazione */
  @keyframes cambioColore {
    0%, 100% {
      background-color: blue;
    }
    50% {
      background-color: red;
    }
  }