/* Sezione comune al css della prima pagina */
body {
    font-family: 'Montserrat', sans-serif; /* Imposta il font di default per il body */
    margin: 0; /* Rimuove il margine di default */
    padding: 0; /* Rimuove il padding di default */
    color: #333; /* Imposta il colore di default del testo */
  
}



  a {
    color: #000;
  }
  


  /* header */
  
  .header {
    background-color: #00BAF0;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed; /* non fa scorrere la navbar*/
    width: 100%;
    z-index: 3;
  }
  


  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #00BAF0;
  }
  
  .header li a {
    display: block;
    padding: 20px 20px;
    /*border-right: 1px solid #f4f4f4;*/
    text-decoration: none;
  }
  
  .header li a:hover,
  .header .menu-btn:hover {
    background-color: #82daf0;
  }
  
  .header .logo {
    font-family: 'Barlow', sans-serif;
    color: azure;
    display: block;
    float: left;
    font-weight: 700;
    font-size:2em;
    
    padding: 10px 20px;
    text-decoration: none;
  }
  
  /* menu */
  
  .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }
  
  /* menu icon */
  
  .header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  
  .header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .header .menu-icon .navicon:before {
    top: 5px;
  }
  
  .header .menu-icon .navicon:after {
    top: -5px;
  }
  
  /* menu btn */
  
  .header .menu-btn {
    display: none;
  }
  
  .header .menu-btn:checked ~ .menu {
    max-height: 240px;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
  
  


/* Stili per i sottomenu */

.sub-menu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.sub-menu li {
  display: block; /* Dispone le voci in blocchi verticali */
}

.sub-menu li a {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.sub-menu li a:hover {
  background-color: #f1f1f1;
}

/* Mostra il sottomenu quando l'elemento genitore viene cliccato */
.menu > li:hover > .sub-menu {
  display: block;
}






h1 {
  font-family: 'Barlow', sans-serif;
  font-weight: 700;
  font-size: 90px;
  line-height: 72px;
  letter-spacing: 0;
}


h2 {
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: -2%;
}



footer {
  font-family: 'Montserrat', sans-serif;
  color: gray;
  text-align: center;
  padding: 20px;
  margin-top: 30px;
  background: #f8f8f8; /* Aggiunge un leggero sfondo grigio al footer */
}

footer p {
  margin: 0; /* Rimuove il margine di default del paragrafo */
}





/* Grid system */
/* Stili specifici per questa pagina */
/* mobile first */


section#project1 {

    background-color:#ffffff;
    padding-top: 80px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;

}

.grid-container-project1 {

    display: grid;
    grid-template-rows: auto auto;
    gap: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }


  .item1Project1, .item2Project1 {
    grid-column: 1 / -1;
}

.item2Project1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-left: 20px;
    gap: 30px; /* Spazio tra le immagini */
  }
  
  
  .item2Project1 img {
    width: auto;
    height: auto;
    border-radius: 8px;
    border: 2px solid #00BAF0;
  }


/* lightbox */

.lightbox {
	/* Hidden lightbox image */
  padding-top: 40px;
	display: none;
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.8);


	&:target {
		/* Show the lightbox */
		display: inline;
	}
}




.close {
	position: absolute;
	top: 20px;
	right: 20px;
	font-size: 3em;
	color: #fff;
	text-decoration: none;
}

.thumbnail {
	
max-width: 300px;
}


/* section project3*/
#myVideo {
  width: 100%;
  height: auto;
}


/* stili per la pagina desktop */

@media (min-width: 768px ) {

    .header li {
        float: left;
      }
      .header li a {
        padding: 20px 30px;
      }
      .header .menu {
        clear: none;
        float: right;
        max-height: none;
      }
      .header .menu-icon {
        display: none;
      }


    .grid-container-project1 {
    
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 1fr;
    
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        padding-left: 20px;
    
        }

            
    .item1Project1 {
        grid-column: 1 / 4;
        grid-row: 1;
        }

    .item2Project1 {
        grid-column: 6 / 12;
        grid-row: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 60px;
        gap: 30px; /* Spazio tra le immagini */
    }

    /* section project3*/
    #myVideo {
      width: 100%;
      height: auto;
    }
    
    /* Mantieni l'aspetto ratio del video */
    #myVideo {
      object-fit: contain;
    }
    

}